.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 10px 0;
}

.footer__column-link:last-child {
  margin: 0;
}
.footer__column-link:hover {
  cursor: pointer;
}

