.kaufman__triangle {
  background-size: contain;
  background-image: url("../../../images/kaufman-triangle.svg");
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -2;
  overflow: hidden;
  width: 877px;
  height: 877px;
}
