.header__title {
  max-width: 730px;
  width: 100%;
  justify-content: normal;
  margin: 0 0 0 64px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  z-index: 4;
  font-family: 'Inter', Arial, sans-serif;
}
